/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #0027ff;
    --color-white: #ffffff;
    --color-stroke: #cecece;
    --color-body: #808080;

    --color-black: #22232e;
    --color-body: #f7f7f7;
    --color-body: #ff3a3a;
    --color-body: #ffc225;
    --color-body: #30bf19;
}
