.passwordContainer {
    margin-top: 20px;
    padding: 10px 15px;
    border: var(--stroke-width) solid var(--color-stroke);
    border-radius: var(--border-rounding);
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
        height: 1.2rem;
        cursor: pointer;

        &:hover {
            filter: brightness(0.8);
        }

        &.animationRunning {
            animation-name: rotationAnimation;
            animation-duration: 0.25s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            transition: transform 0.2s ease;
        }

        @keyframes rotationAnimation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(180deg);
            }
        }
    }
}
