.passwordContainer {
    font-weight: 700;
    padding: 10px 15px;
    border: var(--stroke-width) solid var(--color-stroke);
    border-radius: var(--border-rounding);

    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
        height: 1.2rem;
    }
}
