.level {
    width: 24%;
    height: 6px;
    border-radius: var(--border-rounding);
}

.none {
    background-color: var(--color-stroke);
}

.red {
    background-color: var(--color-red);
}

.yellow {
    background-color: var(--color-yellow);
}

.green {
    background-color: var(--color-green);
}
