.container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-between;

    & .topContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & span {
            color: var(--color-body);
        }
    }

    & .bottomContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
