.checkboxLine {
    flex: 1 0 49%;
    margin-bottom: 5px;

    & input[type="checkbox"] {
        display: none;
    }

    & input[type="checkbox"] + *::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        width: 18px;
        height: 18px;
        border: var(--stroke-width) solid var(--color-stroke);
        border-radius: 6px;
        margin-right: 12px;
    }

    & input[type="checkbox"]:checked + *::before {
        font-size: 2px;
        background-size: 10px;
        background-image: url("@/assets/images/done.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--color-primary);
        border-color: var(--color-primary);
    }

    & label {
        color: var(--color-body);
    }
}
